{% extends"layout.html" %}
    {% block content %}
    <section class="banner-area relative">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="banner-content">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="POST">
                        <!--====-->
                        <div class="form-group " >
                            <input type = 'hidden' name='change_device' value='0'>
                            <label class="control-label">Device Code : </label>  
                            <div class="form-group">
                                <div class="input-group" style="width : 300px;">
                                    <input type = "text" name = "dcode" placeholder='Enter Device Code' class="form-control" required/>
                              </div>
                            </div>
                        </div>
                        <div class="form-group" >
                                <button type="submit" class="btn btn-dark" >SUBMIT</button>
                        </div>
                        <!--====-->
                    </form>
                <div class="form-group" >
                    <div class="banner-content">
                        <label class="control-label"></label>
                        <button onclick="displayform()" class="btn btn-dark"> Change Device Code? </button>
                    </div>
                    <div id="demo" style="visibility: hidden; margin-top: 4%;">
                        <div class="banner-content">
                            <form method="POST">

                                <!--===========-->
                                <div class="form-group" >
                                    <div class="inputGroupContainer" >
                                        <div class="input-group" style = "display: block;" >
                                            <input type='hidden' name='change_device' value="1">
                                            <input style = "margin-top: 4%; width: 300px;" type = 'text' name='currentDeviceCode' placeholder= "Current Device Code" class="form-control"> 
                                            <input style = "margin-top: 4%;  width : 300px;" type = 'text' name='newDeviceCode' placeholder= "New Device Code" class="form-control"> 
                                            <button style = "margin-top: 4%;" type='submit' class="btn btn-dark ">Change Code</button>
                                        </div>
                                    </div>
                                </div>
                                <!--================-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <script>
        function displayform() {
          document.getElementById("demo").style.visibility = "visible";
        }
    </script>
    
 {% endblock %}