{% extends"layout.html" %}
    {% block content %}
    <section class="banner-area relative">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="banner-content col-lg-6 col-md-24">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="POST">
                        <div>
                            Username: <input type = "text" name = "username" placeholder='Username' autocomplete="off"  required >
                        </div>
                        <br>
                        <div>
                            Password: <input type = "password" name = "passwd" placeholder='Password' autocomplete="off"  required >
                        </div>
                   
                        <input type="submit" value="Submit">
                    </form> 
                </div>
            </div>
        </div>
    </section>
 {% endblock %}