{% extends"layout.html" %}
    {% block content %}

    <section style="margin-top: 8%;">
        <p style="font-size: large;  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Bland-Altman results shows the difference and average values and is used to create the plot.
            The 95% prediction bands are thinner than the 95% limits of agreement, and so provide a more accurate prediction of where to expect future differences between the two assay methods to be found.
        </p>
        <div>
            <div class= "row">
                <div>
                    <img src = "{{ url_for( 'static' , filename = 'img/temp.png') }}" alt="" >
                </div>
                <div class="col-md-4" style="margin-top: 15%; height: 90%; width: 90%; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <p>Results: The limits of agreement are narrow, suggesting the results are unambiguous and the devices are equivalent.
                    </p>
                </div>
            </div>
            <div class= "row">
                <div>
                    <img src = "{{ url_for( 'static' , filename = 'img/bpHigh.png') }}" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 15%; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <p>Results:
                        The limits of agreement are wide(between -5 and 10), suggesting the results are ambiguous and the devices are not equivalent.
                    </p>
                </div>
            </div>
            <div class= "row">
                <div>
                    <img src = "{{ url_for( 'static' , filename = 'img/bpLow.png') }}" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 15%; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
                    <p>Results:
                        The limits of agreement are wide(between -3 and 6), suggesting the results are ambiguous and the devices are not equivalent.
                    </p>
                </div>
            </div>
            <div class= "row">
                <div>
                    <img src = "{{ url_for( 'static' , filename = 'img/pulse.png') }}" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 15%; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
                    <p>Results: The limits of agreement are narrow, suggesting the results are unambiguous and the devices are equivalent.
                    </p>
                </div>
            </div>
            <div class= "row">
                <div>
                    <img src = "{{ url_for( 'static' , filename = 'img/spo.png') }}" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 15%; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <p>Results: The limits of agreement are narrow, suggesting the results are unambiguous and the devices are equivalent.
                    </p>
                </div>
            </div>
        </div>
    </section>


    {% endblock content %}
